.footer {
    // margin-top: 50px;
    width: 100%;
    background-color: #fff;
}

.footer-top {
    width: 1226px;
    margin: 0 auto;
    height: 332px;
    background-color: #fff;
    .footer-ser ul {
        display: flex;
        justify-content: space-around;
        padding: 27px 0;
        border-bottom: solid 1px #ccc;
        li a {
            display: block;
            font-size: 16px;
            line-height: 25px;
            text-align: center;
        }
        li em {
            font-size: 24px;
        }
    }
    .footer-main {
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
        .f-left {
            display: flex;
            justify-content: space-between;
            ul {
                width: 160px;
                font-size: 14px;
                line-height: 18px;
                p {
                    margin-bottom: 26px;
                }
                li {
                    margin: 10px 0 0;
                    font-size: 12px;
                }
            }
        }
        .f-right {
            text-align: center;
            width: 252px;
            border-left: 1px solid #ccc;
            h4 {
                font-size: 22px;
                font-weight: normal;
                color: #ff6700;
                margin-bottom: 5px;
            }
            p,
            span {
                margin-bottom: 5px;
                font-size: 12px;
                color: rgb(150, 150, 150);
            }
            span {
                color: #ff6700;
                display: block;
                text-align: center;
                width: 118px;
                height: 28px;
                line-height: 28px;
                border: 1px solid #ff6700;
                cursor: pointer;
                margin: 10px auto;
            }
            .rig-bot {
                height: 24px;
                font-size: 12px;
                margin-right: 10px;
                img {
                    display: inline-block;
                    width: 21px;
                    height: 21px;
                    margin-right: 5px;
                }
            }
        }
    }
}

.footer_btm {
    width: 1226px;
    display: flex;
    .logo {
        width: 57px;
        height: 57px;
        margin-right: 10px;
        display: inline-block;
    }
    .link_group {
        flex: 1;
    }
}

.footer-bot {
    padding: 30px 96px;
    font-size: 12px;
    background: #fafafa;
    width: 100%;
    font-size: 12px;
    box-sizing: border-box;
    a {
        font-size: 12px;
        transition: .3s;
        &:hover {
            color: #ff6700;
        }
    }
    .link_group {
        position: relative;
        box-sizing: border-box;
        .line_first {
            padding-top: 4px;
            >a {
                float: left;
                color: #757575;
                line-height: 12px;
            }
            i {
                float: left;
                color: #b0b0b0;
                line-height: 14px;
                margin: 0 3px 0 4px;
            }
        }
        p {
            color: #b0b0b0;
            ;
            a {
                color: #b0b0b0;
                transition: .3s;
                &:hover {
                    color: #ff6700;
                }
            }
        }
        .zhizhao {
            margin-top: 4px;
            a {
                float: left;
                margin-top: 12px;
                img {
                    height: 28px;
                }
                &:last-child {
                    margin-top: 0;
                    img {
                        height: 40px;
                    }
                }
            }
        }
        .geyan {
            img {
                margin: 40px auto 0;
            }
        }
        .footer_logo {
            width: 57px;
            height: 57px;
            margin-right: 10px;
            background: url(../img/logo-footer.png) no-repeat 50% 50%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.fixed {
    position: fixed;
    right: 0;
    top: 250px;
    z-index: 3;
    li {
        margin-top: -1px;
        a {
            position: relative;
            display: block;
            box-sizing: border-box;
            width: 84px;
            height: 92px;
            background-color: #fff;
            border: 1px solid #f5f5f5;
            text-align: center;
            line-height: 16px;
            padding-top: 18px;
            color: #757575;
            transition: .5s;
            &:hover .saoma {
                display: block;
            }
            &:hover {
                color: #ff6700;
            }
            &:hover .alternate_box .static {
                opacity: 0;
                // z-index: 1;
            }
            &:hover .alternate_box .hover {
                opacity: 1;
                // z-index: 2;
            }
            .alternate_box {
                width: 30px;
                height: 30px;
                margin: 0 auto 8px;
                position: relative;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    // left: 42 - 15px;
                    // top: 0;
                    width: 30px;
                }
                .static {
                    opacity: 1;
                    transition: .5s;
                    // z-index: 2;
                }
                .hover {
                    opacity: 0;
                    transition: .5s;
                    // z-index: 1;
                }
            }
        }
        .saoma {
            display: none;
            background-color: #fff;
            position: absolute;
            top: 0;
            right: 96px;
            width: 130px;
            height: 192px;
            box-sizing: border-box;
            border: 1px solid #f5f5f5;
            &::before {
                content: '';
                display: block;
                position: absolute;
                border: 6px solid transparent;
                border-left-color: #f5f5f5;
                width: 0;
                height: 0;
                top: 10px;
                right: -12px;
                z-index: 1;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                border: 6px solid transparent;
                border-left-color: #fff;
                width: 0;
                height: 0;
                top: 10px;
                right: -10px;
                z-index: 2;
            }
            img {
                width: 100px;
                height: 100px;
                margin: 22px auto 20px;
            }
            p {
                padding: 0 29px;
                color: #757575;
            }
        }
    }
}

.back_top {
    // background-color: red;
    width: 84px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    a {
        position: sticky;
        top: 720px;
        right: 0;
        margin-top: 1522px;
        display: block;
        box-sizing: border-box;
        width: 84px;
        height: 92px;
        background-color: #fff;
        border: 1px solid #f5f5f5;
        text-align: center;
        line-height: 16px;
        padding-top: 18px;
        color: #757575;
        transition: .5s;
        &:hover {
            color: #ff6700;
        }
        &:hover .alternate_box .static {
            opacity: 0;
            // z-index: 1;
        }
        &:hover .alternate_box .hover {
            opacity: 1;
            // z-index: 2;
        }
        .alternate_box {
            width: 30px;
            height: 30px;
            margin: 0 auto 8px;
            position: relative;
            img {
                position: absolute;
                top: 0;
                left: 0;
                // left: 42 - 15px;
                // top: 0;
                width: 30px;
            }
            .static {
                opacity: 1;
                transition: .5s;
                // z-index: 2;
            }
            .hover {
                opacity: 0;
                transition: .5s;
                // z-index: 1;
            }
        }
    }
}