.h-login {
    width: 1130px;
    height: 100px;
    margin: 0 auto;
}

.main-login {
    background: url('https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/72644d9b8031286de3cc74e151aefd90.jpg') no-repeat;
    width: 100%;
    height: 588px;
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    .wrapper {
        width: 1130px;
        margin: 0 auto;
        position: relative;
        .content-box {
            width: 410px;
            background-color: #fff;
            max-width: 854px;
            margin: 0 auto 20px;
            position: absolute;
            right: 0;
            top: 33px;
            min-height: 556px;
            margin-bottom: 0;
            margin-right: 0;
            font-size: 14px;
            z-index: 4;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.content-box .con-title {
    padding: 27px 0 24px;
    text-align: center;
    font-size: 24px;
    width: 100%;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-login .wrapper .content-box .con-title div:nth-child(1) {
    color: #f56600;
}

.main-login .wrapper .content-box .con-title span {
    display: inline-block;
    width: 1px;
    height: 24px;
    margin: 0 35px 0 42px;
    border: 1px solid #e0e0e0;
    background: #e0e0e0;
}

.wrapper input {
    display: block;
    border: 1px solid #e0e0e0;
    outline: none;
}

.password,
.username {
    color: #4a4a4a;
    margin-bottom: 14px;
    width: 306px;
    height: 22px;
    line-height: 22px;
    padding: 13px 16px 13px 14px;
}

.submit {
    background-color: #ff6700;
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: block;
    margin-bottom: 14px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.phoneinclude {
    display: flex;
    justify-content: center;
    color: #ff6700;
    border: 0 none;
    height: auto;
    line-height: normal;
    margin: 0;
    margin-bottom: 30px;
}

.phoneinclude a {
    color: #ff6700;
}

.forgetpassword {
    display: flex;
    justify-content: center;
}

.forgetpassword a,
.forgetpassword span {
    padding-top: 0;
    color: #999;
}

.forgetpassword span {
    margin: 0 5px;
}

.con-bot {
    width: 100%;
    padding-top: 143px;
    display: flex;
    justify-content: center;
}

.con-bot a {
    margin: 0 17px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: chartreuse;
}

footer {
    color: #757575;
    font-size: 14px;
    margin-bottom: 40px;
}

footer .top {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #fff;
    margin-top: 0;
    padding-top: 100px;
    position: relative;
    z-index: 4;
}

footer .top a {
    display: inline-block;
    /* padding: 0 10px; */
    color: #757575;
}

footer .top a::after {
    content: '|';
    font-size: 12px;
    margin: 0 10px;
}

footer .bottom {
    text-align: center;
    padding: 10px;
}